﻿@model Shop.Web.Models.AddItemViewModel
@{
    ViewData["Title"] = "AddProduct";
}

<h2>Add Product</h2>

<h4>To Order</h4>
<hr />

<div class="row">
	<div class="col-md-4">
    	<form asp-action="AddProduct">
        	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

        	<div class="form-group">
            	<label asp-for="ProductId" class="control-label"></label>
            	<select asp-for="ProductId" asp-items="Model.Products" class="form-control"></select>
            	<span asp-validation-for="ProductId" class="text-danger"></span>
        	</div>

        	<div class="form-group">
            	<label asp-for="Quantity" class="control-label"></label>
            	<input asp-for="Quantity" class="form-control" />
            	<span asp-validation-for="Quantity" class="text-danger"></span>
        	</div>

        	<div class="form-group">
            	<input type="submit" value="Create" class="btn btn-primary" />
            	<a asp-action="Index" class="btn btn-success">Back to List</a>
        	</div>
    	</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


